.NavItem li {
  display: inline-block;
  padding: 10px;
}
.NavItem li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.NavItem {
  padding: 5px;
  margin: 0;
  background-color: red;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: aqua;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid #f30303;
}
.register{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 45px;
  float: left;
  border-radius: 40%;
  margin-top: 15px;
  margin-left: 20px;
}
.btn{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: aqua;
  border: 1px solid red;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
